.container-fluid{
    margin-top: 5%;
}

.whitediv{
    background-color: white;
}

select{
    background-color: white;
}

.blanc{
    background-color: white;
}

.imgAccueil{
    width: 95%;
    object-fit: contain;
}

#authbleu{
    color: #00a9cc;
}

.whiteinput{
    background-color: white !important;
}

#imglogin{
    width: 50%;
    object-fit: contain;
    margin-left: 20%;
}

.repartHaut{
    background-color: #00008B;
}

.repartHaut h2 {
    color: white;
}

.repartMilieu{
    background-color: #4169E1;
}

.repartMilieu p{
   color: white;
}

.border-2{
     border-style:solid;
     border-width: 0px 2px 2px 2px;
     border-color: black;
}

.repartBas {
    background-color: lightskyblue;
}

.repartBas p {
    color: black;
}

.repartAgent {
    background-color: white;
}

.selectRepart{
    font-size: smaller;
    padding-left: 0%;
}



select > .placeholder {
    display: none;
}

.favbtn{
    margin-right: -8%;
}

.actBtn{
    margin-left: -8%;
}

.dropdown-item.dropdown-notification:active, .dropdown-item.dropdown-notification.active {
    color: #1d1e1f;
    text-decoration: none;
    background-color: #f7f7f9;
  }

  .dropdown-notification:hover .notification-read {
    color: #34495E;
  }

  .dropdown-notification-all {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-style: oblique;
    background-color: #34495E;
    color: white;
  }

  .dropdown-notification-all:hover {
    background-color: #34495E;
    color: white;
  }

  .notifications-container {
    max-height: 300px;
    overflow: auto;
  }

  .notification-dropdown-menu {
    padding-bottom: 0;
    min-width: 528px;
  }

  .notification-img {
    width: 48px;
    display: inline-block;
    vertical-align: top;
  }

  .notifications-body {
    display: inline-block;
  }

  .notification-texte {
    text-align: left;
    margin: 0;
  }

  .notification-read {
    margin: 0;
    height: 48px;
    vertical-align: top;
    line-height: 48px;
    padding-left: 15px;
    color: white;
    float: right;
  }

  .notification-date {
    text-align: left;
    color: #2980b9 !important;
    margin: 0;
    font-size: smaller;
  }

  .notification-solo {
    margin-top: 1rem;
  }

  .notification-unread {
    text-decoration: none;
    background-color: #f7f7f9;
  }

  .icons-calendar-time{
      color: black;
  }

  #myChart{
    width: 100%;
  }

  .btnrepart{
    font-size: medium;
    padding: 0% !important;
  }

  .reportDiv{
    height: 85%;
  }

  .radiusBtn{
      border-radius: 15px !important;
  }
  .alert{
    color: red;
    font-weight: bold;
  }

  input {
    display: block;
    width: 100% !important;
  }

  .encours{
    background-color: #128fdc;
  }

  .hiddentable {
    background-color: #128fdc;
  }

  .separator {
    border-right: 1px solid white;
    height: 80%;
  }

  .bodycolor{
    background-color: #f2f2f2;
  }

  .dataTables_wrapper .dataTables_filter{
    width: 90%!important;
  }



  


