.container-fluid{
    margin-top: 5%;
    flex: 1 0 auto;
}

html,
body {
  height: 100%;
}

.whitediv{
    background-color: white;
}

select{
    background-color: white;
}

.blanc{
    background-color: white;
}

.imgAccueil{
    width: 95%;
    object-fit: contain;
}

#authbleu{
    color: #00a9cc;
}

.whiteinput{
    background-color: white !important;
}

#imglogin{
    width: 50%;
    object-fit: contain;
    margin-left: 20%;
}

.repartHaut{
    background-color: #00008B;
}

.repartHaut h2 {
    color: white;
}

.repartMilieu{
    background-color: #4169E1;
}

.repartMilieu p{
   color: white;
}

.border-2{
     border-style:solid;
     border-width: 0px 2px 2px 2px;
     border-color: black;
}

.repartBas {
    background-color: lightskyblue;
}

.repartBas p {
    color: black;
}

.repartAgent {
    background-color: white;
}
/*
.selectRepart{
    font-size: smaller;
    padding-left: 0%;
}
*/


select > .placeholder {
    display: none;
}

.favbtn{
    margin-right: -8%;
}

.actBtn{
    margin-left: -8%;
}

.dropdown-item.dropdown-notification:active, .dropdown-item.dropdown-notification.active {
    color: #1d1e1f;
    text-decoration: none;
    background-color: #f7f7f9;
  }

  .dropdown-notification:hover .notification-read {
    color: #34495E;
  }

  .dropdown-notification-all {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-style: oblique;
    background-color: #34495E;
    color: white;
  }

  .dropdown-notification-all:hover {
    background-color: #34495E;
    color: white;
  }

  .notifications-container {
    max-height: 300px;
    overflow: auto;
  }

  .notification-dropdown-menu {
    padding-bottom: 0;
    min-width: 528px;
  }

  .notification-img {
    width: 48px;
    display: inline-block;
    vertical-align: top;
  }

  .notifications-body {
    display: inline-block;
  }

  .notification-texte {
    text-align: left;
    margin: 0;
  }

  .notification-read {
    margin: 0;
    height: 48px;
    vertical-align: top;
    line-height: 48px;
    padding-left: 15px;
    color: white;
    float: right;
  }

  .notification-date {
    text-align: left;
    color: #2980b9 !important;
    margin: 0;
    font-size: smaller;
  }

  .notification-solo {
    margin-top: 1rem;
  }

  .notification-unread {
    text-decoration: none;
    background-color: #f7f7f9;
  }

  .icons-calendar-time{
      color: black;
  }

  #myChart{
    width: 100%;
  }

  .btnrepart{
    font-size: medium;
    padding: 0% !important;
  }

  .reportDiv{
    height: 85%;
  }

  .radiusBtn{
      border-radius: 15px !important;
  }
  .alert{
    color: red;
    font-weight: bold;
  }

  input {
    display: block;
    width: 100% !important;
  }

  .encours{
    background-color: #128fdc !important;
  }

  .hiddentable {
    background-color: #128fdc;
  }

  .separator {
    border-right: 1px solid white;
    height: 80%;
  }

  .bodycolor{
    background-color: #f2f2f2;
  }

  .dataTables_wrapper .dataTables_filter{
    width: 90%;
  }

  .dataTables_filter {
    white-space:nowrap;

}

.dataTables_filter label, .dataTables_filter input {
    display: inline-block;
}

  th.sorting_asc th.sorting_desc{
    color: white !important;
  }

  .dtsp-panesContainer{
    display: none;
  }

  #graph{
    display: none;
  }


  .dtsp-panesContainer{
    background-color: white !important;
  }

  html {
    position: relative;
    min-height: 100%;
  }
  /*
  .footer {
    position: absolute;
    width: 100%; height: 9em;
    bottom: 0; left: 0; right: 0;
    margin-top: 15em;
    overflow:hidden;    
  }*/


  .imgfooter{
      width: 25%;
  }

  .btnnopad{
    padding-left: 1em !important;
    padding-right: 1em!important;
  }

  th, td, td .btn, td label,td input{
    font-size: small;
    font-family: Georgia, serif;
  }
  .sameLine{
    display: inline;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .iconNotif{
    color: black;
  }

  .btnicon{
    background-color: white !important;
  }

  .table td, .table th{
    text-align: center;
 }

  .table td{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }

  .table .nopad{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .placescardfc{
    border-left: 5px solid red !important;
  }

  .placescardfi{
    border-left: 5px solid green !important;
  }

  .progress {
    height: 2em;
  }

  .resumecard{
    height: 100% !important;
  }

  .fc-daygrid-day .fc-day .fc-day-mon .fc-day-past .fc-day-other{
    height: 10px !important;

  }

  .modal {
    display: none;
  }

  .whitecard {
    background-color: white !important;
  }
  
  .fc .fc-non-business{
    background-color: #E8E8E8	!important;
  }

  .tooltipevent{
    width:300px;/*
    height:100px;*/
    background:#ccc;
    position:absolute;
    z-index:10001;
    transform:translate3d(-50%,-100%,0);
    font-size: 0.8rem;
    box-shadow: 1px 1px 3px 0px #888888;
    line-height: 1rem;
  }
  .tooltipevent div{
      padding:10px;
  }
  .tooltipevent div:first-child{
      font-weight:bold;
      color:White;
      background-color:#888888;
  }
  .tooltipevent div:last-child{
      background-color:white;
      position:relative;
  }
  .tooltipevent div:last-child::after, .tooltipevent div:last-child::before{
      width:0;
      height:0;
      border:solid 5px transparent;/*
      box-shadow: 1px 1px 2px 0px #888888;*/
      border-bottom:0;
      border-top-color:whitesmoke;
      position: absolute;
      display: block;
      content: "";
      bottom:-4px;
      left:50%;
      transform:translateX(-50%);
  }
  .tooltipevent div:last-child::before{
      border-top-color:#888888;
      bottom:-5px;
  }

  .fc .fc-daygrid-event-harness {
    color : white;
  }

  .fc .fc-list-table td {
    color: white;
  }

  .fc-daygrid-event-dot,.fc .fc-list-event-dot {
    display: none !important;
  }

  .valid {
    margin-top: 1.9em;
  }

 
  .legendinline{
    font-size: 12px;
  }

  #legend {
    margin-top: 10em;
  }

  .dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
  }

  .btndate{
    margin-top: 5%;
  }

  .btnvalid{
    margin-top: 2em;
  }

  .checkmarg {
    margin-left: 2em;
  }

  .table td .choixzp{
    padding-top: 1px !important;
    padding-bottom: 1px !important;
  }

  .redicon{
    color : red;
  }

  .greenicon {
    color : green;
  }

  .areaheight{
    height: 10em !important;
  }

  .fc-content td:hover{background: #adf4fa;}

  .centertd{
    vertical-align : middle !important;
    text-align:center !important;
    font-size: 1em;
  }

  .btnrepartcofo{
    font-size: 1em !important;
  }

  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

  .dt-button{
    color: #fff !important;
    background-color: #0088ce !important;
    border-color: #0088ce !important;
    display: inline-block!important;
    font-weight: 500!important;
    text-align: center!important;
    white-space: nowrap!important;
    vertical-align: middle!important;
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
    border: 1px solid transparent!important;
    padding: .59375rem 1em!important;
    font-size: 1rem!important;
    line-height: 1.5!important;
    border-radius: .4375rem!important;
    margin-right: 0 !important;
    -webkit-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out!important;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out!important;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out!important;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out!important;
  }



  


