.container-fluid{
    margin-top: 5%;
}

.whitediv{
    background-color: white;
}

select{
    background-color: white;
}

.blanc{
    background-color: white;
}

.imgAccueil{
    width: 95%;
    object-fit: contain;
}

#authbleu{
    color: #00a9cc;
}

#imglogin{
    width: 50%;
    object-fit: contain;
    margin-left: 20%;
}
