  .table td{
    padding-top: 1px !important;
    padding-bottom: 1px !important;
  }

  select {
    background-image: none !important;
    width: 6em !important;
  }

  .form-control{
    font-size: 1em !important;
  }

  .alert {
    padding : 0 !important;
  }